# Configuración de Servidor
PORT=3000

# Base de Datos (PostgreSQL)
# Ejemplo: postgres://usuario:contraseña@localhost:5432/alquilasoft_db
DATABASE_URL="postgres://postgres:postgres@localhost:5432/alquilasoft?schema=public"

# JWT Secret para firmas (Debe ser un hash complejo en producción)
JWT_SECRET="super_secret_key_alquilasoft_2026_dev_env"
